/repositories/*
!/repositories/*.bash
/repositories/installed-*.bash
!/repositories/arbor.conf
!/repositories/accounts.conf
!/repositories/repository.conf
!/repositories/unavailable-unofficial.conf
!/repositories/unavailable.conf
!/repositories/installed-accounts.conf

/sets/*.bash
