/repositories/*
!/repositories/arbor.conf
!/repositories/accounts.conf
!/repositories/repository.conf
!/repositories/unavailable-unofficial.conf
!/repositories/unavailable.conf
!/repositories/installed.conf
!/repositories/installed_accounts.conf
!/repositories/subi.conf
!/repositories/subi-bin.conf



