[Unit]
Description=XDG Base Directories
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=-/usr/bin/systemctl --user set-environment XDG_CONFIG_HOME=${HOME}/.config XDG_DATA_HOME=${HOME}/.local/share XDG_CACHE_HOME=${HOME}/.cache

[Install]
WantedBy=environment.target
