[Unit]
Description=tmux: terminal multiplexer

[Service]
Type=forking
Restart=on-success
ExecStart=/usr/bin/tmux new-session -s systemd-session -d
ExecStop=/usr/bin/tmux kill-session -t systemd-session

[Install]
WantedBy=default.target
