[Unit]
Description=tmux: terminal multiplexer for session %i

[Service]
Type=forking
Environment=TMUX_TMPDIR=%t
ExecStart=/usr/bin/tmux new-session -t %i -d
ExecStartPost=-/usr/bin/systemctl --user set-environment TMUX_TMPDIR=%t
ExecStop=/usr/bin/tmux kill-session -t %i

[Install]
WantedBy=default.target
