[Unit]
Description=The X server for X.org at DISPLAY :%i
Requires=Xorg@.socket
After=Xorg@.socket

[Service]
Type=simple
SuccessExitStatus=0 1
Environment=DISPLAY=:%i
ExecStart=/usr/bin/Xorg :%i -nolisten tcp -noreset -verbose 2 "vt${XDG_VTNR}" -keeptty
