[Unit]
Description=The X server for X.org at display %i
Requires=xorg@%i.socket
After=xorg@%i.socket

[Service]
SuccessExitStatus=0 1
ExecStart=/usr/bin/Xorg :%i -nolisten tcp -noreset -verbose 2 vt%i

