[Unit]
Description=Start tmux in detached session

[Service]
User=%I
ControlGroup=%R/user/%U.user/shared cpu:/
ControlGroupModify=yes
RemainAfterExit=yes
KillMode=none
WorkingDirectory=%h
Type=oneshot
ExecStart=/usr/bin/tmux new-session -s %u -d
ExecStop=/usr/bin/tmux kill-session -t %u

[Install]
WantedBy=multi-user.target
