# Copyright 2013 Bing Sun <subi.the.dream.walker@gmail.com>
# Distributed under the terms of the GNU General Public License v2

[Unit]
Description=Samba AD Daemon
After=syslog.target network.target
Before=samba.target
Conflicts=smbd.service nmbd.service winbindd.service

[Service]
Type=forking
PIDFile=/run/samba/smbd.pid
ExecStart=/usr/sbin/samba
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
