[Unit]
Description=urxvt daemon (socket activation)
Documentation=man:urxvtd(1) man:urxvt(1)

[Socket]
ListenStream=%t/urxvtd
ExecStartPost=-/usr/bin/systemctl --user set-environment RXVT_SOCKET=%t/urxvtd

[Install]
WantedBy=sockets.target

