[Unit]
Description=Clone of rxvt with support for unicode and xft
Conflicts=%p.socket

[Service]
ExecStart=/usr/x86_64-pc-linux-gnu/bin/urxvtd

[Install]
WantedBy=default.target
