[Unit]
Description=GnuPG private key agent
IgnoreOnIsolate=true

[Service]
Environment=GNUPGHOME=%h/.config/gnupg
Type=forking
ExecStart=/usr/bin/gpg-agent --daemon
ExecStartPost=-/usr/bin/systemctl --user set-environment GNUPGHOME=%h/.config/gnupg
Restart=on-abort

[Install]
WantedBy=default.target
