[Unit]
Description=GnuPG private key agent
IgnoreOnIsolate=true

[Service]
Type=forking
ExecStart=/usr/x86_64-pc-linux-gnu/bin/gpg-agent --daemon
Restart=on-abort

[Install]
WantedBy=default.target